<ion-view title="Ajouter un commentaire" ng-Controller="commentCtrl">
<ion-content class="has-header padding">
<form ng-submit="addComment()">
	  <div class="list">
		  <label class="item item-input item-floating-label label-no-border">
		    <span class="input-label">Auteur</span>
		    <input ng-model="author" type="text" placeholder="Auteur">
		  </label>
		  <label class="item item-input item-floating-label label-no-border">
		    <span class="input-label">Titre</span>
		    <input ng-model="commTitle" type="text" placeholder="Titre">
		  </label>
		  <label class="item item-input item-floating-label label-no-border">
		    <span class="input-label">Commentaire</span>
		    <input ng-model="comment" type="text" placeholder="Commentaire">
		  </label>
	  </div>
	<div class="padding">
	    <button type="submit" nav-clear class="button button-block button-positive">
	      Ajouter
	    </button>
    </div>
</form>
  </ion-content>
</ion-view>