<ion-view view-title="Details" ng-controller="adminDetailsCtrl">
  	<ion-content class="has-header">
		<div class="list">
			<div class="item item-image">
    			<img src="http://darwin.cloudapp.net/img/user.png">
  			</div>
			<a class="item item-icon-left">
    			<i class="icon ion-person"></i>
    			{{admin.prenom}} {{admin.nom}}
  			</a> 

  			<a class="item item-icon-left">
    			<i class="icon ion-person"></i>
    			{{admin.login}}
  			</a>

  			<a class="item item-icon-left">
    			<i class="icon ion-email"></i>
    			{{admin.mail}}
  			</a>

  			<a class="item item-icon-left">
    			<i class="icon ion-ios-telephone"></i>
    			{{admin.tel}}
  			</a>
		</div>
	</ion-content>
</ion-view>	