<ion-view view-title="Utilisateurs" ng-controller="adminsCtrl">
	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  	
  <ion-content class="has-header">
    <ion-list>
      <div> 
          <ion-item class="item-stable"
          ng-click="toggleAdmin(administration)"
          ng-class="{active: isAdminShown(administration)}">
              <i class="icon" ng-class="isAdminShown(administration) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                &nbsp;
                Liste des admin
          </ion-item>
          <a class="item" href="#/app/adminDetails/{{admin._id}}"
          ng-repeat="admin in administration"
          ng-show="isAdminShown(administration)">
              <h2>{{admin.prenom}} {{admin.nom}}</h2>
          </a>
      </div>


      <div> 
          <ion-item class="item-stable"
          ng-click="toggleAdmin(asset)"
          ng-class="{active: isAdminShown(asset)}">
              <i class="icon" ng-class="isAdminShown(asset) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                &nbsp;
                Liste des assets
          </ion-item>
          <a class="item" href="#/app/adminDetails/{{admin._id}}"
          ng-repeat="admin in asset"
          ng-show="isAdminShown(asset)">
              <h2>{{admin.prenom}} {{admin.nom}}</h2>
          </a>
      </div>  
    </ion-list>
  </ion-content>

</ion-view>