<ion-view view-title="Les Candidats" ng-controller="candidatsCtrl">
	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
  	
  	<ion-content class="has-header">
  	  	<label class="item item-input item-select">
  	    	<div class="input-label">
  	      		Choisir une session
  	    	</div>
  	    	<select ng-model="sessionSelected" ng-change="selectSession(sessionSelected)">
  	    		<option value="all" selected> - </option>
  	        	<option ng-repeat="name in nameSessions" value="{{name}}" >{{name}}</option>
  	    	</select>
  	   	</label>
      	<ion-list>
        		<div ng-if="students != '' "> 
          		<ion-item class="item-stable" ng-click="toggleCandidat(students)" ng-class="{active: isCandidatShown(students)}">
              		<i class="icon" ng-class="isCandidatShown(students) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                   &nbsp;
                	Liste des candidats
              	</ion-item>
          		    <a ng-repeat="student in students" class="item item-avatar" href="#/app/student/{{student._id}}" ng-show="isCandidatShown(students)">
        				<img src="http://{{student.photo}}">
        				<h2>{{student.prenom}} {{student.nom}}</h2>
        				<p>{{student.login}}</p>
     					</a>
        		</div>
        		<div class="item" ng-if=" students == '' ">
        			Il n'y a aucun candidat.
        		</div>
      	</ion-list>
  	</ion-content>
</ion-view>