<ion-view title="Creer une session" ng-Controller="createSessionCtrl">
<ion-content class="has-header padding">
<form ng-submit="createSession()">
	  <div class="list">
	  <label class="item item-input item-floating-label label-no-border">
	    <span class="input-label">Nom</span>
	    <input ng-model="nameSession" type="text" placeholder="Nom">
	  </label>
	  <label class="item item-input item-floating-label label-no-border">
	    <span class="input-label">Date (JJ-MM-AAAA)</span>
	    <input ng-model="dateSession" type="text" placeholder="JJ-MM-AAAA">
	  </label>
		</div>
	<div class="padding">
	    <button type="submit" nav-clear class="button button-block button-positive">
	      Créer
	    </button>
    </div>
</form>
  </ion-content>
</ion-view>