<ion-view view-title="Exercices" ng-controller="exoCtrl">
	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  	
  <ion-content class="has-header">
    <ion-list>
      <div> 
        <ion-item class="item-stable"
          ng-click="toggleExo(exoC)"
          ng-class="{active: isExoShown(exoC)}">
            <i class="icon" ng-class="isExoShown(exoC) ? 'ion-minus' : 'ion-plus'"></i>
                 &nbsp;
              Exercices C
            </ion-item>

        <ion-item class="item-accordion"
          ng-href="#/app/exercice/{{exC._id}}"
          ng-repeat="exC in exoC"
          ng-show="isExoShown(exoC)">
          {{exC.nom}}
            <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="deleteEx(exC._id)">Supprimer</ion-option-button>
        </ion-item>
      </div>

      <div> 
        <ion-item class="item-stable"
          ng-click="toggleExo(exoShell)"
          ng-class="{active: isExoShown(exoShell)}">
            <i class="icon" ng-class="isExoShown(exoShell) ? 'ion-minus' : 'ion-plus'"></i>
                 &nbsp;
              Exercices Shell
            </ion-item>
        <ion-item class="item-accordion"
          ng-href="#/app/exercice/{{exShell._id}}"
          ng-repeat="exShell in exoShell"
          ng-show="isExoShown(exoShell)">
          {{exShell.nom}}
            <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="deleteEx(exShell._id)">Supprimer</ion-option-button>
        </ion-item>    
      </div>     
    </ion-list>
  </ion-content>

</ion-view>