<ion-view ng-controller="ExCtrl">
<ion-nav-title>{{ex.nom}}</ion-nav-title>
  <ion-content>

    <div class="list card">
	    <div class="item item-divider">
		    <p class="p-center">Type : {{ex.type}} | V{{ex.version}}</p>
	  	</div>
	    <div class="item">
		    <p>Consigne : {{ex.details}}</p>
	  	</div>
	</div>

  </ion-content>
</ion-view>