  <ion-view ng-controller="Home">
  <ion-nav-title>Sessions</ion-nav-title>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
        <ion-list>
        <div ng-repeat="session in sessions track by session.date">
          <ion-item class="item-stable"
                    ng-click="toggleSession(session)"
                    ng-class="{active: isSessionShown(session)}">
              <i class="icon" ng-class="isSessionShown(session) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
            &nbsp;
            {{session.name}}
            <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="delete(session._id)">Supprimer</ion-option-button>
          </ion-item>
          <ion-item class="item-accordion"
                 ng-show="isSessionShown(session)">
        <ul class="list">
      		<li class="item">
            Date: {{session.date ? session.date : "Indéfinie" }}
      		</li>
      		<li class="item">
        		Nb candidats: {{session.all}}
      		</li>
      		<li class="item">
        		Nb candidats présents: {{session.present}}
      		</li>
      		<a class="a-transparent" href="#/app/session/{{session._id}}"><button class="button button-block button-powderblue">
    				Voir
    			</button></a>
    		</ul>
        </ion-item>
        </div>
		</ion-list>

    <div class="list list-inset">
      <button class="button icon ion-plus bg-lightblue" ng-click="createSession()"> Créer une session</button>
    </div>
  </ion-content>
</ion-view>