  <ion-view view-title="Sign-In">
  <header class="bar bar-header bar-stable">
      <h1 class="title">Login</h1>
    </header>
    <ion-content class="has-header">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password">
        </label>
      </div>
      <div class="padding">
        <button nav-clear class="button button-block button-positive" ng-click="LogIn(user)">
          Se connecter
        </button>
      <div id="error" class="padding assertive" style="visibility:hidden">
        Mauvais identifiants
      </div>
      <div id="error" class="padding assertive" style="visibility:hidden">
      Mauvais identifiants     
      </div>

    </ion-content>
  </ion-view>