<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title"></h1>
    </header>

    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/home">
          Accueil
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/candidats">
          Candidats
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/exercices">
          Exercices
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/administration">
          Gestion des comptes
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer-bar align-title="left" >
        <a class="button ion-power" href="#/app/login">
          Déconnexion
        </a>
    </ion-footer-bar>
  </ion-side-menu>

</ion-side-menus>
