<ion-view title="Modifier un profil" ng-Controller="createSessionCtrl">
<ion-content class="has-header padding">
<form >
	  <div class="list">
	  <label class="item item-input item-floating-label label-no-border">
	    <span class="input-label">Nom</span>
	    <input ng-model="nom" type="text" placeholder="Nom">
	  </label>
	  <label class="item item-input item-floating-label label-no-border">
	    <span class="input-label">Prenom</span>
	    <input ng-model="prenom" type="text" placeholder="Prenom">
	  </label>
	  <label class="item item-input item-floating-label label-no-border">
	    <span class="input-label">Login</span>
	    <input ng-model="login" type="text" placeholder="Login">
	  </label>
		</div>
	<div class="padding">
	    <button type="submit" nav-clear class="button button-block button-positive">
	      Créer
	    </button>
    </div>
</form>
  </ion-content>
</ion-view>