<ion-view ng-controller="SessionCtrl">
<ion-nav-title>{{session.name}}</ion-nav-title>
  <ion-content>

    <div class="list card">
    <div class="item item-divider powderblue">
	    <p class="p-center">Session du {{session.date}}</p>
  	</div>
        <ion-list>
        <!-- Liste déroulantes des étudiants -->
          	<div ng-if="students != '' "> 
            	<ion-item class="item-stable"
              	ng-click="toggleStudents(students)"
              	ng-class="{active: isStudentsShown(students)}">
                	<i class="icon" ng-class="isStudentsShown(students) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                     &nbsp;
                  	Liste des étudiants
            	</ion-item>
              		<a class="item item-avatar" href="#/app/student/{{student._id}}"
                  ng-repeat="student in students"
                  ng-show="isStudentsShown(students)">
        	      		<img src="http://{{student.photo}}">
        	     		<h2>{{student.nom}} {{student.prenom}}</h2>
        	      		<p>{{student.login}}</p>
        	    	  </a>
            </div>
            <div class="item" ng-if=" students == '' ">
              	Il n'y a aucun candidat.
            </div>
        		<!-- Liste déroulantes des commentaires-->
              <div ng-if="session.comment != '' "> 
                <ion-item class="item-stable"
                  ng-click="toggleComments(session.comment)"
                  ng-class="{active: iscommentsShown(session.comment)}">
                    <i class="icon" ng-class="isCommentsShown(session.comment) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                         &nbsp;
                      Liste des commentaires
                </ion-item>
                <ion-item class="item-accordion"
                  ng-repeat="comm in session.comment"
                  ng-show="isCommentsShown(session.comment)">
        		      <h2>{{comm.author}}</h2>
                  <p>Date: {{comm.date}}</p>
        		      <p>Titre: {{comm.title}}</p>
        		      <p>Commentaire: {{comm.text}}</p>
        		    </a>
                </ion-item>
              </div>

              <div class="item" ng-if="session.comment == '' ">
              			Il n'y a aucun commentaire.
              </div>
		</ion-list>
	</div>
	<div class="list list-inset">
    	<button class="button icon ion-plus bg-lightblue" ng-click='addComment("session", session._id)'> Ajouter un commentaire</button>
    </div>
  </ion-content>
</ion-view>
