<ion-view ng-controller="StudentCtrl">
<ion-nav-title>{{student.prenom}} {{student.nom}}</ion-nav-title>
  <ion-content>

    <div class="list card">
	    <div class="item item-divider powderblue">
		    <p class="p-center">{{student.login}}</p>
	  	</div>
	     <div class="item item-text-wrap">
	     	<img class="full-image center" style="border-radius: 50%" src="http://{{ student.photo }}">
		</div>
		<!-- Liste des exercices -->
      	<div ng-if="exo != '' "> 
        	<ion-item class="item-stable"
          	ng-click="toggleExo(exo)"
          	ng-class="{active: isExoShown(exo)}">
            	<i class="icon" ng-class="isExoShown(exo) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                 &nbsp;
              	Liste des exercices
        	</ion-item>
          		<a class="item"
              ng-repeat="ex in exo"
              ng-show="isExoShown(exo)">
    	     		<h2>{{ex.nom}}</h2>
    	    	</a>
        </div>
        <div class="item" ng-if=" exo == '' ">
          	Il n'y a pas d'exercice.
        </div>
		<!-- Liste déroulantes des commentaires-->
      <div ng-if="student.comment != '' "> 
        <ion-item class="item-stable"
          ng-click="toggleComments(student.comment)"
          ng-class="{active: iscommentsShown(student.comment)}">
            <i class="icon" ng-class="isCommentsShown(student.comment) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                 &nbsp;
              Liste des commentaires
        </ion-item>
        <ion-item class="item-accordion"
          ng-repeat="comm in student.comment"
          ng-show="isCommentsShown(student.comment)">
		      <h2>{{comm.author}}</h2>
          <p>Date: {{comm.date}}</p>
		      <p>Titre: {{comm.title}}</p>
		      <p>Commentaire: {{comm.text}}</p>
		    </a>
        </ion-item>
      </div>

            <div class="item" ng-if="student.comment == '' ">
              			Il n'y a aucun commentaire.
            </div>

	</div>
	<div class="item">
    	<button class="button icon ion-plus bg-lightblue" ng-click='addComment("student", student._id)'> Ajouter un commentaire</button>
	</div>

  </ion-content>
</ion-view>
