/* Empty. Add your own CSS if you like */
.label-no-border {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.button-positive {
	background-color: #112233 !important;
}

.bg-lightblue {
	background-color: lightseagreen !important;
}

.bar-header {
	background-color: lightseagreen !important;
}

.button-powderblue {
	background-color: powderblue !important;
}

.powderblue {
	background-color: powderblue !important;
}

.a-transparent {
	color: transparent !important;
}

.p-center {
	text-align:center;
}